- content_for :include do
    = javascript_include_tag 'jquery.sortable.min'

= render_js_template 'js-templates/_lesson_list_entry'

.create-lesson-form
    = form_for :lesson, "/lessons/new", { :remote => true, :id => 'addLessonForm' } do |f|
        %p
            = f.label :title, :caption => "Lesson Title"
            = f.text_field :title, :class => "js-slug", :'data-object' => :lesson, :'data-target' => :slug
            = partial 'form_error', :collection => (errors_for @lesson, :title)

        %p
            = f.label :slug, :caption => "Lesson Slug (For URL)"
            = f.text_field :slug
            = partial 'form_error', :collection => (errors_for @lesson, :slug)

        %p
            = f.label :description, :caption => "Lesson Description"
            = f.text_area :description
            = partial 'form_error', :collection => (errors_for @lesson, :description)

        %p
            = f.select(:step, :collection => @steps, :fields => [:title, :id])
            %a.js-sortable-add-new{:'data-read-selection-from' => '#lesson_step', :'data-target-list' => '#steps', :'data-hidden-field-name' => 'lesson[steps][]', :href => "#"} Add New

        %p
            %ul#steps.js-sortable

        %p
            = f.submit "Create", :class => 'button'