.create-lesson-form
    = form_for :lesson, "/lessons/new", { :remote => true, :id => 'addLessonForm' } do |f|
        %p
            = f.label :title, :caption => "Lesson Title"
            = f.text_field :title, :class => "js-slug", :'data-object' => :lesson, :'data-target' => :slug
            = partial 'form_error', :collection => (errors_for @lesson, :title)

        %p
            = f.label :slug, :caption => "Lesson Slug (For URL)"
            = f.text_field :slug
            = partial 'form_error', :collection => (errors_for @lesson, :slug)

        %p
            = f.label :description, :caption => "Lesson Description"
            = f.text_area :description
            = partial 'form_error', :collection => (errors_for @lesson, :description)

        %p
            = f.select(:steps, :collection => @steps, :fields => [:title, :id])

        %p
            = f.submit "Create", :class => 'button'