- content_for :include do
    = javascript_include_tag 'epiceditor/epiceditor.min'

.create-step-form
    = form_for :step, "/steps/new", { :remote => true, :id => 'addStepForm' } do |f|
    
        %p
            = f.label :title, :caption => "Step Title"
            = f.text_field :title, :class => "js-slug", :'data-object' => :step, :'data-target' => :slug
            = partial 'form_error', :collection => (errors_for @step, :title)

        %p
            = f.label :slug, :caption => "Step Slug (For URL)"
            = f.text_field :slug
            = partial 'form_error', :collection => (errors_for @step, :slug)

        %p
            = f.label :body, :caption => "Step Content"
            = f.text_area :body, :id => 'epiceditor-target'
            = partial 'form_error', :collection => (errors_for @step, :body)

        %p
            #epiceditor

        %p
            = f.submit "Create", :class => 'button'