= form_for :account, "/register", { :id => 'register_form' } do |f|
    %p
        = f.label :name, :caption => "First Name"
        = f.text_field :name
        = partial 'form_error', :collection => (errors_for @account, :name)

    %p
        = f.label :surname, :caption => "Surname"
        = f.text_field :surname
        = partial 'form_error', :collection => (errors_for @account, :surname)

    %p
        = f.label :email, :caption => "Email"
        = f.text_field :email
        = partial 'form_error', :collection => (errors_for @account, :email)

    %p
        = f.label :password, :caption => "Password"
        = f.password_field :password
        = partial 'form_error', :collection => (errors_for @account, :password)

    %p
        = f.label :password_confirmation, :caption => "Password (Confirm)"
        = f.password_field :password_confirmation
        = partial 'form_error', :collection => (errors_for @account, :password_confirmation)

    %p
        = f.submit "Create", :class => 'button'