!!! Strict
%html

    %head
        %title= [@title, "Padrino Sample Blog"].compact.join(" | ")
        = stylesheet_link_tag 'reset', 'application'
        = javascript_include_tag 'jquery', 'application'
        = yield_content :include
    %body
        %header
            %h1 

        - if session[:flash]
            = session[:flash]
            - session[:flash] = nil

        = yield

        %footer
            %h1 Test Footer